# Ignore the requirements.txt in the bookcat directory
/requirements.txt

# Do not ignore the requirements.txt in bookcat/src
!/src/requirements.txt

# Ignore virtual environments
venv/
env/

# Ignore logs and data directories
logs/
data/

